# Firebase Configuration
EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyDSIguyf7-trQZCiAVzhTbwQ8RO2dEVx00
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=herb-55d07.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=herb-55d07
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=herb-55d07.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=64089315509
EXPO_PUBLIC_FIREBASE_APP_ID=1:64089315509:web:2894755d404cedd51dc6fc

# VITE_FIREBASE_API_KEY=AIzaSyDSIguyf7-trQZCiAVzhTbwQ8RO2dEVx00
# VITE_FIREBASE_AUTH_DOMAIN=herb-55d07.firebaseapp.com
# VITE_FIREBASE_PROJECT_ID=herb-55d07
# VITE_FIREBASE_STORAGE_BUCKET=herb-55d07.firebasestorage.app
# VITE_FIREBASE_MESSAGING_SENDER_ID=64089315509
# VITE_FIREBASE_APP_ID=1:64089315509:web:2894755d404cedd51dc6fc
# VITE_FIREBASE_MEASUREMENT_ID=G-YXEGRH96QP

# Google OAuth Client IDs
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=338204350519-1557lr13ck28v9aiecjonolmf7tcdake.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_EXPO_CLIENT_ID=338204350519-7vu55hvvt2kq8bbhl3mandojs3at4u7n.apps.googleusercontent.com
# EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=64089315509-cu1ad9lil54fnbdlpq0nejon3dh9s1hf.apps.googleusercontent.com

# VITE_FIREBASE_API_KEY=AIzaSyCj7Z4vh2PH5ak--bmHShEyjdRjOXGjncg
# VITE_FIREBASE_AUTH_DOMAIN=erb-sys-34305.firebaseapp.com
# VITE_FIREBASE_PROJECT_ID=erb-sys-34305
# VITE_FIREBASE_STORAGE_BUCKET=erb-sys-34305.firebasestorage.app
# VITE_FIREBASE_MESSAGING_SENDER_ID=44008884754
# VITE_FIREBASE_APP_ID=1:44008884754:web:c21466136200c7ce0ae6cb
# VITE_FIREBASE_MEASUREMENT_ID=G-TQY5K5RCL0


# API Configuration
EXPO_PUBLIC_API_BASE_URL=http://localhost:5000/api
EXPO_PUBLIC_ML_SERVICE_URL=http://localhost:8000

# # Map Configuration
# EXPO_PUBLIC_MAPBOX_ACCESS_TOKEN=your-mapbox-access-token
# EXPO_PUBLIC_DEFAULT_LATITUDE=40.7128
# EXPO_PUBLIC_DEFAULT_LONGITUDE=-74.0060

# # Analytics (Optional)
# EXPO_PUBLIC_GA_TRACKING_ID=GA-XXXXXXXXX
# EXPO_PUBLIC_SENTRY_DSN=your-sentry-dsn

# # Feature Flags
# EXPO_PUBLIC_ENABLE_ANALYTICS=true
# EXPO_PUBLIC_ENABLE_CHATBOT=true
# EXPO_PUBLIC_ENABLE_IMAGE_UPLOAD=true
# EXPO_PUBLIC_ENABLE_MAP=true

# # Development
# EXPO_PUBLIC_DEV_MODE=true
# EXPO_PUBLIC_LOG_LEVEL=debug


# Cloudinary
CLOUDINARY_CLOUD_NAME=dubhcjmti
CLOUDINARY_API_KEY=958434882885611
CLOUDINARY_API_SECRET=H6BzOK8TR3DTxMHjst6fx-Ae2Us
CLOUDINARY_URL=cloudinary://<958434882885611>:<H6BzOK8TR3DTxMHjst6fx-Ae2Us>@dubhcjmti